* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body {
    height: 3000px;
} */


/* Css of Index.html */

.header {
    max-width: 2000px;
    max-height: 70px;
    background-color: rgba(0, 0, 0, 0.87);
}

.dropdown-currency {
    overflow: hidden;
    float: left;
}

.dropdown-currency .btncurrency {
    font-size: 16px;
    border: none;
    outline: none;
    color: #c3c3c3;
    padding: 20px;
    background-color: inherit;
    margin: 0;
}

.dropdown-currency .btncurrency:hover {
    color: rgb(179, 144, 32);
    transition: color 0.5s;
}

.dropdown-currency-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-currency-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-bottom: thin solid #c3c3c3;
}

.dropdown-currency-content a:hover {
    background-color: #c3c3c3;
}

.dropdown-currency:hover .dropdown-currency-content {
    display: block;
}

.dropdown-languages {
    overflow: hidden;
    float: left;
}

.dropdown-languages .btnlanguage {
    font-size: 16px;
    border: none;
    outline: none;
    color: #c3c3c3;
    padding: 20px;
    background-color: inherit;
}

.dropdown-languages .btnlanguage:hover {
    color: rgb(179, 144, 32);
    transition: color 0.5s;
}

.dropdown-languages-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-languages-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-bottom: thin #c3c3c3 solid;
}

.dropdown-languages-content a:hover {
    background-color: #c3c3c3;
    transition: color 0.5s;
}

.dropdown-languages:hover .dropdown-languages-content {
    display: block;
}

.header-menus {
    margin-left: 200px;
    margin-top: 20px;
    display: flex;
}

.header-menus .header-menu a {
    padding: 20px;
    color: #c3c3c3;
    text-decoration-line: none;
}

.header-menus .header-menu a:hover {
    color: rgb(179, 144, 32);
    transition: color 0.5s;
}

.header2 {
    max-width: 2000px;
    height: 90px;
    background-color: #ffc111;
}

.company-name {
    padding: 15px;
    font-size: 40px !important;
    font-weight: 700 !important;
}

.search {
    min-width: 500px;
    height: 38px;
    margin-top: 25px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    padding: 20px;
    font-size: 15px;
    margin-left: 20px;
}

.searchbutton {
    min-width: 120px;
    height: 40px;
    border: none;
    background-color: rgba(0, 0, 0, 0.87);
    color: #f9f9f9;
    font-size: 17px;
    margin-left: -5px;
    border-radius: 5px;
    font-weight: 400;
    padding: 5px;
    text-transform: uppercase !important;
}

.phone {
    padding: 15px;
    font-size: 17px;
    font-weight: 700;
}

.cart {
    padding: 30px;
    display: flex;
}

.cart .cartsup {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    margin-left: -8px;
    padding: 1px;
}

.cart .cartprice {
    margin-left: 10px;
    font-size: 15px;
    font-weight: 600;
}

.navbar {
    max-width: 2000px;
    height: 70px;
    background-color: #f3f3f3;
}

.navbaritem {
    margin-left: 40px;
}

.navbaritem a {
    font-size: 14px;
    color: #201f1f;
    text-decoration-line: none;
    font-weight: 700;
    text-transform: uppercase;
}

.dropdownshop {
    overflow: hidden;
    float: left;
}

.dropdownshop .btnshop {
    font-size: 16px;
    border: none;
    outline: none;
    color: #201f1f;
    padding: 10px;
    background-color: inherit;
    margin-left: 40px;
}

.dropdownshop .btnshop a {
    font-size: 14px;
    color: #201f1f;
    text-decoration-line: none;
    font-weight: 700;
    text-transform: uppercase;
}

.dropdown-shop-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 800px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-shop-content .row1 {
    border-top: thick orange solid;
}

.dropdown-shop-content .row1 .column a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-bottom: 0.2px #c3c3c3 solid;
}

#lastliofshop {
    border-bottom: none;
}

.dropdown-shop-content .row1 .column a:hover {
    background-color: #c2bdbd;
    transition: background-color 0.5s;
}

.dropdownshop:hover .dropdown-shop-content {
    display: block;
}

.column {
    float: left;
    width: 25%;
    background-color: white;
    max-height: 250px;
}

.column a {
    float: none;
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
}

.column a:hover {
    background-color: #ddd;
}


/* Responsiveness */

@media screen and (max-width:600px) {
    .column {
        width: 100%;
        height: auto;
    }
}


/* Responsiveness End*/


/* Slider*/

.imageslider {
    width: 100% !important;
    height: 600px !important;
}


/* Slider End*/

.dropdownpages {
    overflow: hidden;
    float: left;
}

.dropdownpages .btnpages {
    font-size: 16px;
    border: none;
    outline: none;
    color: #201f1f;
    padding: 10px;
    background-color: inherit;
    margin-left: 40px;
}

.dropdownpages .btnpages a {
    font-size: 14px;
    color: #201f1f;
    text-decoration-line: none;
    font-weight: 700;
    text-transform: uppercase;
}

.dropdown-pages-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-top: thick orange solid;
}

.dropdown-pages-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-bottom: thin #c3c3c3 solid;
}

.dropdown-pages-content a:hover {
    background-color: #c3c3c3;
    transition: color 0.5s;
}

.dropdownpages:hover .dropdown-pages-content {
    display: block;
}

.box {
    max-width: 100%;
    min-height: 100px;
    border: solid thin #c3c3c3;
    padding: 20px;
}

.boxborderless {
    border-right: none;
}

.iconheader {
    color: #ffc111;
    font-size: 19px;
}

.productpriceandstars {
    margin-left: 120px;
    margin-top: -60px;
}

.fa-star {
    color: #ffc111;
}

.productimageanddetail a {
    color: black;
    font-size: 16px;
    font-weight: 700;
    display: block;
}

.productimageanddetail .proname {
    margin-left: 20px;
    margin-top: 10px;
}

.promotedproduct1,
.promotedproduct2,
.promotedproduct3 {
    position: relative;
}

.promotedproduct4 {
    position: relative;
    margin-left: 100px;
}

.textofpromotion {
    position: absolute;
    top: 358px;
    left: 235px;
    color: black;
    font-weight: 700;
}

.textofpromotion1 {
    position: absolute;
    top: 398px;
    left: 273px;
    color: black;
    font-weight: 700;
}
.textofpromotion1 a{
    text-decoration-line: none;
}
.productbox{
    height: 350px;
    width: 260px;
    border: #c2bdbd thin solid;
    box-shadow:  2px 2px 6px 0 rgba(0,0,0,.1),0 1px 1px 0 transparent,0 1px 3px 0 rgba(0,0,0,.12)!important;
}
.productbox .imageofproductbox{
    height: 200px;
    width: 259px;
    padding: 30px;
    border-bottom: thin #c2bdbd solid;
    position: relative;
}

.productbox .imageofproductbox img{
    width: 100%;
    height: 100%;
}
.productbox .productboxinfo{
    padding: 10px 10px 10px 20px;
}
.productbox .productboxinfo .categorynameofproduct{
    margin-bottom: 0;
    margin-top: -10px;
    color: #c2bdbd;
}
.productbox .productboxstarandprice p{
    margin-right: 145px;
}
.productbox .productboxstarandprice a{
    color: #c3c3c3;
    font-size: 20px;
}
.productbox .productboxstarandprice a:hover{
    color: #ffc111;
    transition: color 0.7s;
}
.producthearticon{
    position: absolute;
    top: 10px;
    right: 20px;
}
.producthearticon:hover{
    color: #ffc111;
    transition: color 0.7s;
}
.producteyeicon{
    position: absolute;
    top: 35px;
    right: 18px;
}
.producteyeicon:hover{
    color: #ffc111;
    transition: color 0.7s;
}
.productrefreshicon{
    position: absolute;
    top: 60px;
    right: 20px;
}
.productrefreshicon:hover{
    color: #ffc111;
    transition: color 0.7s;
}
.producthearticon, .producteyeicon,.productrefreshicon{
cursor: pointer;
color: #ddd;
font-size: 20px;
display: none;
z-index: 1;
}
.productbox:hover .producthearticon{
    display: block;
}
.productbox:hover .producteyeicon{
    display: block;
}
.productbox:hover .productrefreshicon{
    display: block;
}
.productsfilter{
    border-bottom: #c2bdbd solid thin;
}
.productsfilter a{
    text-decoration-line: none;
    color: #201e1e;
    font-size: 14px;
    margin-right: 30px;
    font-weight: 500;
    text-transform: uppercase;
}
.activefilter{
    border-bottom: thick solid #ffc111;
}

/*Footer*/
.footerrow{
    min-height: 320px;
    background-color: #f7f7f7;
}
.footercompany{
    padding: 40px;
}
.footercompany a{
    color: black;
    font-size: 35px;
    text-decoration-line: none;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}
.footerservices{
    padding: 40px;
}
.footerservices li{
    list-style-type: none;
    padding-top: 7px;
}
.footerservices a{
    color: black;
    text-decoration-line: none;
}
.lifirstoffooter{
    font-size: 20px;
    font-weight: 700;
}
.subscription{
    padding:40px;
}
.subscription .subscribetext{
    font-size: 20px;
    font-weight: 700;
}
.subscription #emailinput{
    width: 280px;
    height: auto;
    border-radius: 5px;
    border: thin #c2bdbd solid;
    padding-top: 10px;
}
.subscription .buttonsubmitemail{
    width: 280px;
    height: 45px;
    background-color: #ffc111;
    color: black;
    font-size: 20px;
    font-weight: 600;
    border: none;
    margin-top: 20px;
}
.contactusfooter{
    padding: 40px;
}
.contactusfooter .contactusfootertext{
    font-size: 20px;
    font-weight: 700;
}
.contactusfooter .footericons{
    color: black;
    font-size: 20px;
    padding-right: 20px;
}
.contactusfooter .footericons:hover{
    color: #ffc111;
    transition: color 0.5s;
}

/*CSS of product.html*/
.collapsible-section{
    border: thin #c3c3c3 solid;
    padding: 10px;
    cursor: pointer;
    min-width: 120px !important;
    margin-bottom: 15px;
    box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.1);
}
.collapsible-section .titleofcollapsible{
    font-size: 20px;
    padding: 10px;
}
.collapsibleicon{
    margin-left: 140px;
}
.collapsible-section .contentofcollapsible{
    display: none;
}
.collapsible-section .contentofcollapsible li{
    list-style-type: none;
    margin-left: 10px;
}
.collapsible-section .contentofcollapsible a {
    color: black;
    text-decoration-line: none;
}
.active{
    display: block;
}