* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body {
    height: 3000px;
} */

/* Css of Index.html */

.header {
    max-width: 2000px;
    max-height: 70px;
    background-color: rgba(0, 0, 0, 0.87);
}

.dropdown-currency {
    overflow: hidden;
    float: left;
}

.dropdown-currency .btncurrency {
    font-size: 16px;
    border: none;
    outline: none;
    color: #c3c3c3;
    padding: 20px;
    background-color: inherit;
    margin: 0;
}

.dropdown-currency .btncurrency:hover {
    color: rgb(179, 144, 32);
    transition: color 0.5s;
}

.dropdown-currency-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-currency-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-bottom: thin solid #c3c3c3;
}

.dropdown-currency-content a:hover {
    background-color: #c3c3c3;
}

.dropdown-currency:hover .dropdown-currency-content {
    display: block;
}

.dropdown-languages {
    overflow: hidden;
    float: left;
}

.dropdown-languages .btnlanguage {
    font-size: 16px;
    border: none;
    outline: none;
    color: #c3c3c3;
    padding: 20px;
    background-color: inherit;
}

.dropdown-languages .btnlanguage:hover {
    color: rgb(179, 144, 32);
    transition: color 0.5s;
}

.dropdown-languages-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-languages-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-bottom: thin #c3c3c3 solid;
}

.dropdown-languages-content a:hover {
    background-color: #c3c3c3;
    transition: color 0.5s;
}

.dropdown-languages:hover .dropdown-languages-content {
    display: block;
}

.header-menus {
    margin-left: 200px;
    margin-top: 20px;
    display: flex;
}

.header-menus .header-menu a {
    padding: 20px;
    color: #c3c3c3;
    text-decoration-line: none;
}

.header-menus .header-menu a:hover {
    color: rgb(179, 144, 32);
    transition: color 0.5s;
}

.header2 {
    max-width: 2000px;
    height: 90px;
    background-color: #ffc111;
}

.company-name {
    padding: 15px;
    font-size: 40px !important;
    font-weight: 700 !important;
}

.search {
    min-width: 500px;
    height: 38px;
    margin-top: 25px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    padding: 20px;
    font-size: 15px;
    margin-left: 20px;
}

.searchbutton {
    min-width: 120px;
    height: 40px;
    border: none;
    background-color: rgba(0, 0, 0, 0.87);
    color: #f9f9f9;
    font-size: 17px;
    margin-left: -5px;
    border-radius: 5px;
    font-weight: 400;
    padding: 5px;
    text-transform: uppercase !important;
}

.phone {
    padding: 15px;
    font-size: 17px;
    font-weight: 700;
}

.cart {
    padding: 30px;
    display: flex;
}

.cart .cartsup {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    margin-left: -8px;
    padding: 1px;
}

.cart .cartprice {
    margin-left: 10px;
    font-size: 15px;
    font-weight: 600;
}

.navbar {
    max-width: 2000px;
    height: 70px;
    background-color: #f3f3f3;
}

.navbaritem {
    margin-left: 40px;
}

.navbaritem a {
    font-size: 14px;
    color: #201f1f;
    text-decoration-line: none;
    font-weight: 700;
    text-transform: uppercase;
}

.dropdownshop {
    overflow: hidden;
    float: left;
}

.dropdownshop .btnshop {
    font-size: 16px;
    border: none;
    outline: none;
    color: #201f1f;
    padding: 10px;
    background-color: inherit;
    margin-left: 40px;
}

.dropdownshop .btnshop a {
    font-size: 14px;
    color: #201f1f;
    text-decoration-line: none;
    font-weight: 700;
    text-transform: uppercase;
}

.dropdown-shop-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 800px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-shop-content .row1 {
    border-top: thick orange solid;
}

.dropdown-shop-content .row1 .column a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-bottom: 0.2px #c3c3c3 solid;
}

#lastliofshop {
    border-bottom: none;
}

.dropdown-shop-content .row1 .column a:hover {
    background-color: #c2bdbd;
    transition: background-color 0.5s;
}

.dropdownshop:hover .dropdown-shop-content {
    display: block;
}

.column {
    float: left;
    width: 25%;
    background-color: white;
    max-height: 250px;
}

.column a {
    float: none;
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
}

.column a:hover {
    background-color: #ddd;
}

/* Responsiveness */

@media screen and (max-width:600px) {
    .column {
        width: 100%;
        height: auto;
    }
}

/* Responsiveness End*/

/* Slider*/

.imageslider {
    width: 100% !important;
    height: 600px !important;
}

/* Slider End*/

.dropdownpages {
    overflow: hidden;
    float: left;
}

.dropdownpages .btnpages {
    font-size: 16px;
    border: none;
    outline: none;
    color: #201f1f;
    padding: 10px;
    background-color: inherit;
    margin-left: 40px;
}

.dropdownpages .btnpages a {
    font-size: 14px;
    color: #201f1f;
    text-decoration-line: none;
    font-weight: 700;
    text-transform: uppercase;
}

.dropdown-pages-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-top: thick orange solid;
}

.dropdown-pages-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-bottom: thin #c3c3c3 solid;
}

.dropdown-pages-content a:hover {
    background-color: #c3c3c3;
    transition: color 0.5s;
}

.dropdownpages:hover .dropdown-pages-content {
    display: block;
}

.box {
    max-width: 100%;
    min-height: 100px;
    border: solid thin #c3c3c3;
    padding: 20px;
}

.boxborderless {
    border-right: none;
}

.iconheader {
    color: #ffc111;
    font-size: 19px;
}

.productpriceandstars {
    margin-left: 120px;
    margin-top: -60px;
}

.fa-star {
    color: #ffc111;
}

.productimageanddetail a {
    color: black;
    font-size: 16px;
    font-weight: 700;
    display: block;
}

.productimageanddetail .proname {
    margin-left: 20px;
    margin-top: 10px;
}

.promotedproduct1, .promotedproduct2, .promotedproduct3 {
    position: relative;
}

.promotedproduct4 {
    position: relative;
    margin-left: 100px;
}

.textofpromotion {
    position: absolute;
    top: 358px;
    left: 235px;
    color: black;
    font-weight: 700;
}

.textofpromotion1 {
    position: absolute;
    top: 398px;
    left: 273px;
    color: black;
    font-weight: 700;
}

.textofpromotion1 a {
    text-decoration-line: none;
}

.productbox {
    height: 350px;
    width: 260px;
    border: #c2bdbd thin solid;
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, .1), 0 1px 1px 0 transparent, 0 1px 3px 0 rgba(0, 0, 0, .12)!important;
}

.productbox .imageofproductbox {
    height: 200px;
    width: 259px;
    padding: 30px;
    border-bottom: thin #c2bdbd solid;
    position: relative;
}

.productbox .imageofproductbox img {
    width: 100%;
    height: 100%;
}

.productbox .productboxinfo {
    padding: 10px 10px 10px 20px;
}

.productbox .productboxinfo .categorynameofproduct {
    margin-bottom: 0;
    margin-top: -10px;
    color: #c2bdbd;
}

.productbox .productboxstarandprice p {
    margin-right: 135px;
}

.productbox .productboxstarandprice a {
    color: #c3c3c3;
    font-size: 20px;
}

.productbox .productboxstarandprice a:hover {
    color: #ffc111;
    transition: color 0.7s;
}

.producthearticon {
    position: absolute;
    top: 10px;
    right: 20px;
}

.producthearticon:hover {
    color: #ffc111;
    transition: color 0.7s;
}

.producteyeicon {
    position: absolute;
    top: 35px;
    right: 18px;
}

.producteyeicon:hover {
    color: #ffc111;
    transition: color 0.7s;
}

.productrefreshicon {
    position: absolute;
    top: 60px;
    right: 20px;
}

.productrefreshicon:hover {
    color: #ffc111;
    transition: color 0.7s;
}

.producthearticon, .producteyeicon, .productrefreshicon {
    cursor: pointer;
    color: #ddd;
    font-size: 20px;
    display: none;
    z-index: 1;
}

.productbox:hover .producthearticon {
    display: block;
}

.productbox:hover .producteyeicon {
    display: block;
}

.productbox:hover .productrefreshicon {
    display: block;
}

.productsfilter {
    border-bottom: #c2bdbd solid thin;
}

.productsfilter a {
    text-decoration-line: none;
    color: #201e1e;
    font-size: 14px;
    margin-right: 30px;
    font-weight: 500;
    text-transform: uppercase;
}

.activefilter {
    border-bottom: thick solid #ffc111;
    margin-bottom: 0px;
}

/*Footer*/

.footerrow {
    min-height: 320px;
    background-color: #f7f7f7;
}

.footercompany {
    padding: 40px;
}

.footercompany a {
    color: black;
    font-size: 35px;
    text-decoration-line: none;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

.footerservices {
    padding: 40px;
}

.footerservices li {
    list-style-type: none;
    padding-top: 7px;
}

.footerservices a {
    color: black;
    text-decoration-line: none;
}

.lifirstoffooter {
    font-size: 20px;
    font-weight: 700;
}

.subscription {
    padding: 40px;
}

.subscription .subscribetext {
    font-size: 20px;
    font-weight: 700;
}

.subscription #emailinput {
    width: 280px;
    height: auto;
    border-radius: 5px;
    border: thin #c2bdbd solid;
    padding-top: 10px;
}

.subscription .buttonsubmitemail {
    width: 280px;
    height: 45px;
    background-color: #ffc111;
    color: black;
    font-size: 20px;
    font-weight: 600;
    border: none;
    margin-top: 20px;
}

.contactusfooter {
    padding: 40px;
}

.contactusfooter .contactusfootertext {
    font-size: 20px;
    font-weight: 700;
}

.contactusfooter .footericons {
    color: black;
    font-size: 20px;
    padding-right: 20px;
}

.contactusfooter .footericons:hover {
    color: #ffc111;
    transition: color 0.5s;
}

/*CSS of product.html*/

.collapsible-section {
    border: thin #c3c3c3 solid;
    padding: 10px;
    cursor: pointer;
    min-width: 120px !important;
    margin-bottom: 15px;
    /* box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.1); */
}

.collapsible-section .titleofcollapsible {
    font-size: 20px;
    padding: 10px;
}

.categoryicon {
    margin-left: 140px;
}

.brandsicon {
    margin-left: 160px;
}

.priceicon {
    margin-left: 178px;
}

.collapsible-section .contentofcollapsible {
    display: none;
}

.collapsible-section .contentofcollapsible li {
    list-style-type: none;
    margin-left: 10px;
}

.collapsible-section .contentofcollapsible a {
    color: black;
    text-decoration-line: none;
}

.active1 {
    display: block;
}

.collapsible-section .pricerange {
    padding: 20px;
}

#pricehigh {
    width: 70px;
    height: 20px;
}

#pricelow {
    width: 70px;
    height: 20px;
}

.pagination1 {
    margin-left: 440px;
}

.page-item {
    color: #ffc111 !important;
}

/*CSS of login.html*/

.loginregisterbox {
    max-width: 1394px;
    height: 300px;
    border: thin solid #c3c3c3;
    margin: 50px 20px 50px 20px;
    box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.logintitle {
    font-size: 22px;
    font-weight: 600;
    border-bottom: thin solid #c3c3c3;
    width: 570px;
}

#loginemail, #loginpassword {
    margin-top: 40px;
    width: 570px;
    border: none;
    border-bottom: thin solid black;
}

.loginbutton {
    width: 100px;
    height: 45px;
    border: none;
    background-color: #ffc111;
    color: black;
    font-size: 15px;
    font-weight: 500;
    margin: 30px 0 20px 0;
    border-radius: 5px;
}

.registertitle {
    font-size: 22px;
    font-weight: 600;
    border-bottom: thin solid #c3c3c3;
    width: 570px;
}

.registerdesciption {
    font-size: 15px;
    margin-top: 20px;
    font-weight: 500;
}

#registeremail {
    margin-top: 20px;
    width: 570px;
    border: none;
    border-bottom: thin solid black;
}

.registerbutton {
    width: 100px;
    height: 45px;
    border: none;
    background-color: #ffc111;
    color: black;
    font-size: 15px;
    font-weight: 500;
    margin: 10px 0 20px 0;
    border-radius: 5px;
}

/*CSS of checkout.html*/

.billingcheckout {
    padding: 25px;
}

.titleincheckout {
    font-size: 38px;
    font-weight: 700;
}

.smallinputs {
    border: none;
    border-bottom: thin solid;
    width: 300px;
    margin-top: 40px;
}

::placeholder {
    font-size: 14px;
    font-weight: 400;
}

.inputstext {
    width: 600px;
    border: none;
    border-bottom: solid thin;
    margin-top: 40px;
}

.btnsubmit {
    width: 100px;
    height: 45px;
    border: none;
    background-color: #ffc111;
    color: black;
    font-size: 15px;
    font-weight: 500;
    margin: 30px 0 20px 0;
    border-radius: 5px;
}

.productcheckout {
    max-width: 620px;
    height: 500px;
    border: thin solid #c3c3c3;
    margin: 40px 10px 20px 10px;
}

.productcheckout .checkoutdetail {
    border-bottom: solid thin #c3c3c3;
    margin: 30px;
}

.productcheckout .checkoutdetail p {
    margin-left: 300px;
    font-size: 15px;
    font-weight: 500;
}

.productcheckout .productsincartcheckout {
    border-bottom: #c3c3c3 solid thin;
    margin: 30px;
}

.productcheckout .checkoutsubtotal {
    border-bottom: thin solid #c3c3c3;
    margin: 30px;
}

.productcheckout .checkoutsubtotal h5 {
    font-size: 17px;
}

.productcheckout .checkoutsubtotal p {
    font-size: 19px;
    margin-left: 300px;
    color: red;
    font-weight: 600;
}

.productcheckout .radiobuttons {
    margin-left: 30px;
}

.btnorder {
    width: 150px;
    height: 45px;
    border: none;
    background-color: #ffc111;
    color: black;
    font-size: 15px;
    font-weight: 500;
    margin: 30px;
    border-radius: 5px;
}

/*CSS of productdetail.html*/

.sliderpluginprodetail {
    padding: 50px 20px;
}

.alldetailsofpro {
    margin: 30px 0 30px 30px;
}

.alldetailsofpro .titleofprodetail {
    font-size: 34px;
    font-weight: 700;
    text-transform: capitalize;
}

#productprice {
    font-size: 18px;
    text-decoration-line: line-through;
    color: rgb(138, 135, 135);
    font-weight: 600;
}

#salerate {
    color: red;
    margin-left: 10px;
    font-size: 20px;
    font-weight: 600;
    margin-top: -5px;
}

#salepricepfprodetail {
    font-size: 25px;
}

#textofprodetail {
    color: rgb(138, 135, 135);
    font-size: 18px;
    border-bottom: #c3c3c3 1px dashed;
    padding-bottom: 10px;
}

.availabilityofpro {
    font-size: 14px;
    color: rgb(138, 135, 135);
}

#addtocartprobtn {
    width: 150px;
    height: 45px;
    border: none;
    background-color: #ffc111;
    color: black;
    font-size: 15px;
    font-weight: 500;
    margin: 0px 0 20px 0;
    border-radius: 5px;
    text-transform: uppercase;
}

#buynowprobtn {
    width: 100px;
    height: 45px;
    border: none;
    background-color: #ffc111;
    color: black;
    font-size: 15px;
    font-weight: 500;
    margin: 0px 0 20px 20px;
    border-radius: 5px;
    text-transform: uppercase;
}

/*CSS of quantity increase/decrease*/

.value-button {
    display: inline-block;
    margin: 0px;
    width: 40px;
    height: 80px;
    text-align: center;
    vertical-align: middle;
    padding: 11px 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.value-button:hover {
    cursor: pointer;
}

#decrease {
    margin-right: -4px;
    border-radius: 8px 0 0 8px;
    color: #c3c3c3;
    font-size: 30px;
    font-weight: 600;
}

#increase {
    margin-left: -4px;
    border-radius: 0 8px 8px 0;
    color: #c2bdbd;
    font-size: 30px;
    font-weight: 600;
}

form #input-wrap {
    margin: 0px;
    padding: 0px;
}

input#number {
    text-align: center;
    border: 1px solid #ddd;
    margin: 0px;
    width: 80px;
    height: 35px;
    background-color: #eee;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* End of CSS - quantity increase/decrease*/

.informationsection {
    min-height: 300px;
    width: 290px;
    border: #c2bdbd thin solid;
    margin:40px 0 40px 10px;
}

.informationsection .sectionsofinformation {
    border-bottom: solid thin #c2bdbd;
}
.logosofinformationsection{
    font-size: 30px;
    padding:40px 10px 40px 20px;
}
.titleofinformationsection{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0px;
}
.titleandtextofinfo{
    padding: 20px 10px 0 10px;
}
.textofinformatonsection{
    font-size: 13px;
    color: rgb(138, 135, 135);
    font-weight: 400;
}
.logodollar{
    font-size: 30px;
    padding: 40px 0 40px 25px;
}
.bigsale{
    margin:40px 0 40px 10px;
    width: 290px;
    min-height: 250px;
    background-color: #ffc111;
}
#textofbigsale{
    font-size: 40px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    margin-left: 60px;
    margin-bottom: 0;
}
#infobigsale{
    font-size: 18px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    margin-left: 75px;
}
#percentofbigsale{
    font-size: 80px;
    margin-left: 80px;
    font-weight: 700;
    margin-top: -30px;
    margin-bottom: -20px;
}
#aboutbigsale{
    padding: 20px 20px 20px 50px;
    color: white;
}
.tabssection{
    margin-left: 20px;
    max-width: 1000px;
    min-height: 400px;
    border: #c2bdbd solid thin;
    box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.1);
}
.tabssection .menu{
    border-bottom: thin solid #c2bdbd;
    padding: 20px;
}
.activetab{
    border-bottom: #ffc111 thick solid;
    margin-bottom: -20px;
    transition: border 0.5s;
}
.title-tab{
    margin-left: 40px;
    color: rgb(138, 135, 135);
    font-size: 14px;
}
.title-tab:hover{
    cursor: pointer;
}
.descriptiontab{
    color: rgb(138, 135, 135);
    font-size: 16px;
    padding: 20px;
}
.imgcommentator{
    width: 50px;
    height: 50px;
    margin: 27px 0px 20px 40px;
    border-radius: 50%;
}
.commentatorname{
    padding: 20px 0 0 20px;
    font-size: 14px;
    margin-bottom: 0;
}
.commenttime{
    padding: 5px 0 0 20px;
    margin-bottom: 0;
    font-size: 12px;
    color: #c2bdbd;
}
.commentitself{
    font-size: 14px;
    padding: 5px 0 0 20px;
}
.miniinputs{
    width: 427px;
    border: none;
    border-bottom: thin solid #575555;
    margin-left: 40px;
    margin-top: 40px;
}
#subjectofcomment{
    width: 900px;
    margin-left: 40px;
    margin-top: 50px;
    border: none;
    border-bottom: thin solid #575555;
}
#textareaforcomment{
    width: 900px;
    height: 200px;
    margin-left: 40px;
    margin-top: 50px;
    border: none;
    border-bottom: thin solid #575555;
}
.btnreview{
    width: 150px;
    height: 45px;
    border: none;
    background-color: #ffc111;
    color: black;
    font-size: 15px;
    font-weight: 500;
    margin: 40px;
    border-radius: 5px;
}
#leaveyourcomment{
    text-transform: uppercase;
    font-size: 27px;
    font-weight: 600;
    margin-left: 40px;
    margin-top: 40px;
    width: 900px;
    border-bottom: thin solid #575555;
}
#infoaboutcommenting{
    margin-left: 40px;
    margin-top: 0;
    color: #c2bdbd;
}
/*CSS of card.html*/
.card-content{
    min-width: 900px;
    min-height: 100px;
    margin-top: 50px;
    border: thin solid #c2bdbd;
    box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.1);
}